DATABASE_URL="postgresql://postgres:1234567890@localhost:5432/postgres"
NEXT_PUBLIC_Website_URL="http://localhost:3000"
NODE_ENV="development"
NEXT_PUBLIC_WEBHOOK_URL="http://localhost:3000/api/webhooks"